body {
	font-family: Trebuchet,Arial,sans-serif;
    font-size: 10pt;
    font-weight: bold;
    color: white;
    background: url(bg_lowres.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;	
    color: #FFFFFF;
}
table {
	background-color: #333333;
	border: 1px solid #000000;
	border-collapse: collapse;
   table-layout: fixed;
	width: 100%;
}
th {
    background: #142E59;
    border: 1px solid #000000;
}
td {
	border: 1px solid #000000;
	font-size: 10pt;
}
a {
	text-decoration: none;
}
a:link {
	color: #9CB0D1;
}
a:visited {
	color: #9DB1D2;
}
a:hover {
	text-decoration: underline;
}
.finePrint {
	color: #aaaaaa;
	font-family: Arial;
	font-weight: normal;
	font-size: 9pt;
}
.finePrint > b {
	color: #ffffff;
}
.itemIcon {
	height: 35px;
}
.itemTypeCell, .itemIconCell {
	text-align: center;
	vertical-align: middle;
}
.scoreCell {
	text-align: right;
	vertical-align: middle;
}
#buttonBar {
	float: right;
}
#loading {
	color: #336699;
	font-weight: bold;
}
