/*
-------------------------------------------------------------------
Created with TexturePacker https://www.codeandweb.com/texturepacker
-------------------------------------------------------------------
Inline:     <i class="yourspritesname"></i>
Responsive: <div class="yourspritesname"></div>
*/


.Ball_Of_Bandages_Icon {width:20px; height:21px; background: url(testtp.png) -1px -16px;}
.Ball_Of_Tar_Icon {width:17px; height:16px; background: url(testtp.png) -1px -38px;}
.Bat_Wing_Icon {width:23px; height:14px; background: url(testtp.png) -1px -1px;}

/* $TexturePacker:SmartUpdate:e8742a1aee5ad23a82babfa3bd894700:de31c985942a23b21a18d3bf58e8c2e9:dd49dea983087abb83e705d7c88c94ff$ */
