/*
-------------------------------------------------------------------
Created with TexturePacker https://www.codeandweb.com/texturepacker
-------------------------------------------------------------------
Inline:     <i class="yourspritesname"></i>
Responsive: <div class="yourspritesname"></div>
*/


.D12_Antibirth_Icon {max-width:40px; max-height:40px; }
.D12_Antibirth_Icon::after {content: ' ';display: inline-block; width:40px; height:40px; background-position: 4.761904761904762% 5%;background-size: 152.5% 150%;background-image: url(tfoi.png);padding: 0; }
div.D12_Antibirth_Icon::after {max-width:40px; width:100%;height:0;padding: 0 0 100% 0;}
.MEAT\!_Icon {max-width:18px; max-height:26px; }
.MEAT\!_Icon::after {content: ' ';display: inline-block; width:18px; height:26px; background-position: 97.67441860465117% 2.9411764705882355%;background-size: 338.8888888888889% 230.76923076923077%;background-image: url(tfoi.png);padding: 0; }
div.MEAT\!_Icon::after {max-width:18px; width:100%;height:0;padding: 0 0 144.44444444444446% 0;}
.\30 _-_The_Fool_Icon {max-width:14px; max-height:18px; }
.\30 _-_The_Fool_Icon::after {content: ' ';display: inline-block; width:14px; height:18px; background-position: 89.36170212765957% 66.66666666666667%;background-size: 435.7142857142857% 333.3333333333333%;background-image: url(tfoi.png);padding: 0; }
div.\30 _-_The_Fool_Icon::after {max-width:14px; width:100%;height:0;padding: 0 0 128.57142857142858% 0;}
.\32 0_20_Icon {max-width:21px; max-height:17px; }
.\32 0_20_Icon::after {content: ' ';display: inline-block; width:21px; height:17px; background-position: 2.5% 97.67441860465117%;background-size: 290.4761904761905% 352.94117647058823%;background-image: url(tfoi.png);padding: 0; }
div.\32 0_20_Icon::after {max-width:21px; width:100%;height:0;padding: 0 0 80.95238095238095% 0;}

/* $TexturePacker:SmartUpdate:b39b48a6ec5573dc2cc3386097b41629:b73ea79f16e0a260b1373fb4b92d2920:42a6cf50ae636d4500a6c0bcdc3a0410$ */
